SERVER_API_URL=“http://localhost:8000/api”
NUXT_APP_URL = http://localhost:8080
NUXT_AUTH_SECRET = “okBzj58oRoFvT9Fhq/gqx7AmmTQu6dC1XiXVnvwSHXg=”
AUTH_ORIGIN = http://localhost:8080/

# Prod
# NUXT_KEYCLOAK_ISSUER = https://auth.pistis-market.eu/auth/realms/PISTIS
# NUXT_KEYCLOAK_CLIENT_ID = pistis-test-only
# NUXT_KEYCLOAK_CLIENT_SECRET = AtCAnpdLewyOzrVa9Pwe8qhcAnjK288h

# Local
NUXT_KEYCLOAK_ISSUER = http://localhost:9090/realms/connector
NUXT_KEYCLOAK_CLIENT_ID = local-frontend
NUXT_KEYCLOAK_CLIENT_SECRET = nGXfyVQaOJTZ0YxSZEKRBM7sziZ7u1jf

# PDT ID
NUXT_PUBLIC_ORG_ID = "c0604304-a46e-42f9-bec9-7894f5ba73a6"

# SPH ID
# NUXT_PUBLIC_ORG_ID = "0e859f3b-2799-460c-8eba-d86c51923bfc"

NUXT_INTENTION_ANALYTICS_SERVER_URL='http://localhost:3002/api'
NUXT_SCTC_URL='http://localhost:3020/api'
# NUXT_WS_URL='http://localhost:3001'
NUXT_NOTIFICATIONS_URL='https://pistis-market.eu/srv/notifications'
NUXT_PUBLIC_CATALOG_URL='https://develop.pistis-market.eu/srv/catalog/datasets?locale=en'
NUXT_PUBLIC_MARKETPLACE_URL='https://pistis-market.eu/srv/catalog/catalogues?locale=en'
NUXT_PUBLIC_MARKETPLACE_DATASET='https://pistis-market.eu/srv/catalog/datasets/'
NUXT_WALLET_ALIAS='test_user_16106'
NUXT_WALLET_URL='https://develop.pistis-market.eu/app/v0/dlt'
NUXT_INSIGHTS_GEN_API_URL='https://develop.pistis-market.eu/srv/insights-generator'
NUXT_DATA_TRANSF_API_URL='https://develop.pistis-market.eu/srv/data-transformation'
NUXT_CATALOG_ASSETS_URL='https://develop.pistis-market.eu/srv/search/datasets?catalogue=data-company'
NUXT_ASSETS_URL='https://develop.pistis-market.eu/srv/search'

# PUBLIC
NUXT_PUBLIC_FACTORY_URL='https://develop.pistis-market.eu'
NUXT_PUBLIC_CLOUD_URL='https://pistis-market.eu'
NUXT_PUBLIC_ORG_LOGO = /img/AI_REDIGIO.png

# REST
NUXT_CATALOG_NAME='data-company'