SERVER_API_URL=“http://localhost:8000/api”
NUXT_APP_URL = http://localhost:8080
NUXT_AUTH_SECRET = “okBzj58oRoFvT9Fhq/gqx7AmmTQu6dC1XiXVnvwSHXg=”
AUTH_ORIGIN = http://localhost:8080/

# Local
NUXT_KEYCLOAK_ISSUER = http://localhost:9090/realms/connector
NUXT_KEYCLOAK_CLIENT_ID = local-frontend
NUXT_KEYCLOAK_CLIENT_SECRET = nGXfyVQaOJTZ0YxSZEKRBM7sziZ7u1jf

ORGANIZATION_ID = 
ORGANIZATION_LOGO =
CLOUD_API_URL = http://localhost:3010
